<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emergencylocationidentifier"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.suresh.emergencylocationidentifier.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.suresh.emergencylocationidentifier.Registration_form"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.suresh.emergencylocationidentifier.Instructions"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.suresh.emergencylocationidentifier.EmergencyDetails"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.suresh.emergencylocationidentifier.Function_Button_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.suresh.emergencylocationidentifier.ShakeDetector"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!--
        <activity
            android:name="com.suresh.emergencylocationidentifier.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
            android:name="com.suresh.emergencylocationidentifier.AndroidGPSTrackingActivity"
            android:label="@string/app_name" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
     
        </activity>
        -->
        <receiver
            android:name="com.suresh.emergencylocationidentifier.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.suresh.emergencylocationidentifier.ServiceStartReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="YouWillNeverKillMe" />
            </intent-filter>
        </receiver>

        <service android:name="com.suresh.emergencylocationidentifier.Location_Msg_Shake" >
        </service>
    </application>

</manifest>